body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  nav {
    background-color: #f0f0f0;
    padding: 10px;
  }
  ul {
    padding: 0%;
    margin: 0%;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  nav a:hover {
    color: #0099ff;
  }
  
  main {
    margin: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  h2 {
    color: #0099ff;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 10px;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
  }
  
